@font-face {
	font-family: 'Ubuntu', sans-serif;
	src: url("./font/Ubuntu-Regular.ttf");
  }

* {
	padding: 0px;
	margin: 0px;
}

#body {
	background-color: #c6d0ff;
	font-family: 'Ubuntu', sans-serif;
	height: 100%;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#box1 {
	height: 75%;
	text-align: center;
}

#box2 {
	height: 25%;
	text-align: center;
}

h2 {
	height: 10%;
}

a {
	color: blue;
}

a:hover {
	text-shadow: 2px 2px 2px #4d4d4d;
	text-decoration: underline;
}


.chatBox {
	/* cursor: pointer;*/
	display: inline-block;
	height: 280px;
	width: 90%;
	overflow: auto;
	text-align: left;
	border-radius: 10px;
	padding: 10px;
	background-color: white;
	border: 3px inset #000000;
}

form {
	height: 100%;
	widows: 100%;
}
#userInput {
	display:inline-block;
	width: 90%;
	height: 45px;
	font-size: 24px;
	outline:0;
	text-indent: 0.5em;
	border-radius: 10px;
}
.rep {
	margin-top: 15px;
}
#send, #clean {
	margin-top: 20px;
	display:inline-block;
	width: 35%;
	height: 45px;
	font-size: 24px;
	outline:0;
	color:white;
	cursor: pointer;
	text-overflow: hidden;
}

.name {
	color: #ececec;
	background-color: #4a4a4a;
	margin: 2px;
	border-radius: 8px;
	padding: 2px;
}

.message {
	color: #4a4a4a;
}

.tux {
	text-align: center;
}

.bas {
	margin-bottom: 10px;
}

.haut{
	margin-top: 10px;
}
.btn-secondary {
	border: 2px inset #000000;
}
.btn {
	border: 2px inset #000000;
}

.bot .message {
	color: #0050e8;
}
.bot .name {
	color: #ececec;
	background-color: #0050e8;
	margin: 2px;
	border-radius: 8px;
	padding: 2px;
}